
<link rel="stylesheet" type="text/css"
	href="${ctxContent}/ui/easyui/themes/insdep/easyui.css">
<link href="${ctxContent}/ui/easyui/themes/insdep/icon.css"
	rel="stylesheet" type="text/css">
<link href="${ctxContent}/ui/easyui/themes/insdep/master.css"
	rel="stylesheet" type="text/css">
<link href="${ctxContent}/ui/easyui/themes/insdep/easyui_animation.css"
	rel="stylesheet" />
<link href="${ctxContent}/ui/easyui/themes/insdep/easyui_plus.css"
	rel="stylesheet" />
<link href="${ctxContent}/ui/easyui/themes/insdep/insdep_tables.css"
	rel="stylesheet" />
<link
	href="${ctxContent}/ui/easyui/themes/insdep/insdep_theme_default.css"
	rel="stylesheet" />
<script src="${ctxContent}/ui/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="${ctxContent}/ui/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="${ctxContent}/ui/easyui/themes/insdep/jquery.insdep-extend.min.js"></script>
<script type="text/javascript"
	src="${ctxContent}/ui/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${ctxContent}/js/function.js"></script>
<script type="text/javascript" src="${ctxContent}/js/toolBarCtrl.js"></script>
<script type="text/javascript" src="${ctxContent}/js/syUtil.js"></script>
<script src="${ctxContent}/ui/layui/lay/dest/layui.all.js"></script>
<script src="${ctxContent}/js/base-loading.js"></script>
<link href="${ctxContent}/ui/layui/css/layui.css" rel="stylesheet" />
<link rel="stylesheet" href="${ctxContent}/css/font-awesome.min.css">
<style>
* {
	font-size: 14px;
}

body {
	font-size: 14px;
}

.divCover {
	position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	background: #000000;
	opacity: 0.5;
}

.frmButton {
	text-align: right;
}

.frmButton a {
	margin: 10px 5px 5px 5px;
}

.frmDiv {
	padding: 8px 0px 8px 0px;
	border-bottom: 1px dashed #cccccc;
}

.datagrid-header-row {
	height: 28px;
}

.datagrid-toolbar .textbox, .datagrid-toolbar .textbox-icon,
	.datagrid-toolbar .textbox-text, .datagrid-toolbar .l-btn, .datagrid .panel-footer .l-btn,
	.datagrid-toolbar .searchbox-button {
	height: 22px !important;
}

.datagrid-row {
	height: 25px;
}

.datagrid-header .datagrid-cell, .datagrid-body .datagrid-cell,
	.datagrid-footer .datagrid-cell {
	padding: 4px 7px;
}

.datagrid-body .datagrid-editable {
	margin: 0;
	padding: 4px 7px;
}
.datagrid-header, .tabs-header {
	background-color: #f8f8f8;
}

</style>
